.bg-body-tertiary {
    background-color: #ad8b00 !important;
}

.LibrosContenedor{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 200px;
}

.card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  text-align: center;
  margin-top: 230px;
  background-color: #ad8b00;
  color: white;
  font-size: 14px;
}


